*{
box-sizing: border-box;
}
:root {
  /* Colors */
  --Yellow: #eac926;
  --Blue: #03264c;
  --light_Blue: #1259c3;
  --Dark-Gray: #666;
  --White-Gray: #ebebeb;
  --Green: #39b54a;

  /* font size */
  --title: 24px;
  --paragraph: 12px;
  --prices: 18px;
  --offers: 16px;
  --descriptions: 16px;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: var(--White-Gray);
}
.header {
  width: 100%;
  min-width: 320px;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: var(--Yellow);
}
.logo {
  width: 300px;
}
img {
  width: 100%;
}

.descriptions {
  font-size: var(--descriptions);
}
nav {
  display: none;
}
.menu_item {
  list-style-type: none;
}
.menu_like {
  text-decoration: none;
  color: #000;
}
.bars {
  padding: 10px;
  border-radius: 6px;
  background-color: var(--light_Blue);
  color: var(--White-Gray);
  font-size: 24px;
  margin-bottom: 10px;
}
.banner {
  width: 100%;
  margin-bottom: -4px;
}
/* main */
.visits,
.promotions {
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.title {
  text-align: center;
  font-size: var(--title);
}
.products {
  max-width: 400px;
  min-width: 300px;
  margin: 10px 0;
  background-color: #fff;
}

.products_info {
  border-top: 1px solid #ebebeb;
}
.truck,
.prices,
.offers,
.description {
  margin-left: 15px;
}
.truck {
  color: var(--Green);
  font-size: 14px;
  padding: 10px;
  border-radius: 50px;
  border: 1px solid var(--Green);
  margin-top: 15px;
}
.prices {
  font-size: var(--prices);
}
.offers {
  font-size: var(--offers);
  color: var(--Green);
  padding-bottom: 15px;
}
.description {
  padding-bottom: 15px;
  font-size: var(--descriptions);
  display: none;
}
                 /* main */
               /*  Footer*/

.card {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px auto;
}
.icon {
  color: var(--light_Blue);
  font-size: 32px;
}
.date{
    font-size: var(--descriptions);
    text-align: center;
}
.card .paragraph {
  text-align: center;
}
span {
  font-size: var(--paragraph);
}
        /* fin del footer */
                  /* tablets */
@media (min-width: 361px) {
  .logo {
    width: 90%;
  }
  nav {
    width: 95%;
    display: block;
  }
  .bars {
    display: none;
  }
  .products {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
  }
  .offers {
    padding-bottom: 0;
  }
  .description {
    display: block;
  }
  span {
    margin-left: 5px;
  }
}
                /*Desktop*/
@media (min-width: 769px) {
  .logo {
    width: 70%;
  }
  nav {
    width: 80%;
    display: block;
  }
  .bars {
    display: none;
  }
  .products {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
  }
  .offers {
    padding-bottom: 0;
  }
  .description {
    display: block;
  }
  span {
    margin-left: 15px;
  }
}
